#container	{
	width: 100%;
	height: auto;
}

#title-bar 	{
	width: 100%;
	margin-top: 1em;
}

#title-bar h2 	{
	margin-left: 0.33em;
	width: 80%;
	font-family: Helvetica Neue;
	font-weight: lighter;
	font-size: 3em;
	color: rgb(0,0,0);
	display: inline-block;
	float: left;
}

#edit-button {
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	margin-right: 1em;
	margin-top: -0.25em;
	float: right;
}

#description-box	{
	padding-top: 0.5em;
	width: 100%;
	height: auto;
	clear: both;
}

#description-box p {
	font-family: sans-serif;
	font-weight: lighter;
	margin-left: 1em;
	margin-right: 1em;
}

#alias-box {
	width: 100%;
	height: auto;
}

#alias-box h4 {
	font-family: sans-serif;
	font-weight: lighter;
	margin-left: 1.2em;
	display: inline;
	font-size: 0.8em;
}

#alias-box p {
	font-family: sans-serif;
	font-weight: lighter;
	display: inline;
	font-size: 0.8em;
}

#statements-container	{
	clear: both;
	width: 100%;
	height: auto;
	border-top: 1px solid grey;
	margin-top: 0.5em;
	padding-top: 0.5em;
	text-align: center;
}

.statement {
	width: 45%;
	height: 6em;
	border: 1px solid black;
	display: inline-block;
	margin: 0.5em;
	text-align: left;
}

.statement-add {
	width: 45%;
	height: 6em;
	border: 1px dashed grey;
	display: inline-block;
	margin: 0.5em;
}

.statement h5 {
	position: absolute;
	width: 44%;
	height: auto;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1em;
	color: rgba(0,0,0,0.5);
	margin-left: 0.5em;
	margin-top: 0.25em;
}

.statement p {
	position: absolute;
	width: 44%;
	height: auto;
	font-family: sans-serif;
	font-size: 1em;
	margin-top: 25px;
	color: rgba(0,0,0,0.8);
	line-height: 1em;
	margin-left: 0.5em;
	margin-top: 2em;
}

.statement .sources {
	position: absolute;
	width: 44%;
	font-family: sans-serif;
	font-size: 0.8em;
	color: rgba(255,0,0,0.7);
	margin-left: 0.625em;
	margin-top: 6em;
}

#footer	{
	margin-top: 0.5em;
}