#container	{
	width: 100%;
	height: auto;
}

#title-bar 	{
	width: 100%;
	margin-top: 15px;
}

#title-bar h2 	{
	margin-left: 2%;
	width: 80%;
	font-family: Helvetica Neue;
	font-weight: lighter;
	font-size: 3em;
	color: rgb(0,0,0);
	display: inline-block;
	float: left;
}

#edit-button {
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	margin-right: 1em;
	margin-top: -0.25em;
	float: right;
}

#description-box	{
	padding-top: 5px;
	width: 100%;
	height: auto;
	clear: both;
	margin-left: 2%;
}

#description-box p {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	line-height: 24px;
}

#alias-box {
	width: 100%;
	height: auto;
}

#alias-box h4 {
	font-family: sans-serif;
	font-weight: lighter;
	margin-left: 2%;
	display: inline;
	font-size: 1em;
}

#alias-box p {
	font-family: sans-serif;
	font-weight: lighter;
	display: inline;
	font-size: 1em;
}

#edit-options-container	{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}

#edit-options-container	p {
	font-family: sans-serif;
	font-size: 1em;
	display: inline;
	color: #0645AD;
	padding-left: 2%;
	padding-right: 5%;
}

#statements-container	{
	clear: both;
	width: 100%;
	height: auto;
	border-top: 1px solid grey;
	margin-top: 5px;
	padding-top: 5px;
	text-align: center;
}

.statement {
	width: 95%;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	display: block;
	margin-top: 5px;
	margin-left: 2%;
	text-align: left;
}

.statement-clicked {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.statement-add {
	width: 95%;
	height: 2em;
	border: 1px dashed grey;
	border-radius: 5px;
	display: block;
	margin-top: 5px;
	margin-left: 2%;
}

.statement h5 {
	width: 99%;
	height: auto;
	min-height: 25px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	color: rgb(0,0,0);
	padding-left: 1%;
	padding-top: 5px;
	display: block;
	background-color: #e8e8e8;
	border-radius: 5px;
}

.addBottomBorder	{
	border-bottom: 1px dotted black;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.statement-content	{
	display: none;
}

.statement p {
	width: 99%;
	padding-left: 1%;
	height: auto;
	min-height: 20px;
	font-family: sans-serif;
	font-size: 1em;
	color: #000;
	display: block;
}

.statement .qualifier	{
	border-bottom: 1px dashed grey;
}

.statement .qualifier .qualifier-property	{
	display: inline;
	padding-left: 7%;
}

.statement .qualifier .qualifier-data	{
	display: inline;
	padding-left: 7%;
}

.statement .qualifier .sources {
	padding-left: 7%;
	width: 99%;
	min-height: 20px;
	height: auto;
	font-family: sans-serif;
	font-size: 0.8em;
	color: #2779AA;
	display: block;
}

.statement .sources	{
	width: 99%;
	font-size: 0.8em;
	font-family: sans-serif;
	color: #2779AA;
	display: block;
}

#footer	{
	margin-top: 5px;
}